.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.db
tickets.db
.env
.vscode/
scratch/
serviceAccountKey.json
app_sqlite_backup.py
.vercel
.env*.local
env_for_vercel.txt
firebase_env.txt
*.env.*
logs.txt
vercel_logs.txt
set_env.py
test.py
